<html>
<head>
<head>
<body>

    <div> Home </div>
    <h1>{{username}}</h1>
    <ul>
    <li> <a href="register">Register</a></li>
    <li> <a href="login">Login</a></li>
    <li> <a href="welcome">Welcome</a></li>
    <li> <a href="trips">Trips</a></li>
    </ul>

</body>
</html>