{{! opens by localhost:3000/ }}

<html>
<head>
</head>

<body>
        
    <form action="/trips" method="post">
        <input type="text" name="city">
        <input type="date" name="departureDate">
        <input type="date" name="returnDate">
        <input type="submit">
    </form>

<h3>List of Trips</h3>

<!-- running a loop on triplist -->
<ul>

{{! Starting point }}
{{#triplist}}
<br>
    <li>
    City: {{city}} <br>
    Departure: {{departureDate}} <br>
    Return: {{returnDate}} <br>

    <form action='/deleteTrip' method='post'>
        <input type="hidden" name="tripId" value='{{tripId}}'>
        <input type="submit" value="Delete">
    </form>
    </li>

    
<br>

{{! Ending point }}
{{/triplist}}
</ul>

</body>

</html>