<html>
<head>
<head>
<body>
    <h1>WELCOME! </h1>
    <h1> {{username}} </h1>
    <ul>
    <li> <a href="home">Home</a></li>
    <li> <a href="register">Register</a></li>
    <li> <a href="login">Login</a></li>
    <li> <a href="trips">Trips</a></li>
    </ul>

</body>
</html>
